JWT_SECRET=
MONGODB_URI=
GEMINI_API_KEY=
VITE_AGRITRACE_CONTRACT_ADDRESS=0x95446f5Cda059dE75D9d0bc0d7388B3FA416deEF
VITE_BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
AGRITRACE_CONTRACT_ADDRESS=0x95446f5Cda059dE75D9d0bc0d7388B3FA416deEF
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545